.page-header {
    display: flex;
    justify-content: space-between;
    padding-left: 6rem;
    padding-top: 3rem;
    text-align: left;
}

.header-content h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    margin-top: 2rem;
}

@media screen and (max-width: 1080px) {
    .header-img {
        width: 100%;
    }
    .header-img img {
        width: 100%;
    }
    .header-content{
        justify-content: center;
        align-items: center;
        padding: 0 0rem;
        padding-right: 3rem;
    }

    .header-content h1 {
        margin: 1rem 0rem;
    }

    .header-content p {
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .page-header {
        flex-direction: column-reverse;
        padding: 2rem 3rem;
    }
    .header-img img{
        width: 100%;
    }

    .header-content{
        justify-content: center;
        align-items: center;
        padding: 0 0rem;
        text-align: center;
    }

    .header-content h1 {
        margin: 1rem 0rem;
    }

    .header-content p {
        margin: 0;
    }
}

@media screen and (max-width: 450px) {
    .page-header {
        padding: 0;
    }

    .header-content {
        margin: 0 2rem;
        padding: 0;
    }

    .header-content h1{
        font-size: 34px;
        line-height: 48px;
    }
}

@media screen and (max-width: 450px) {
    .header-content h1{
        font-size: 34px;
        line-height: 44px;
    }
}

@media screen and (max-width: 375px) {
    .header-content h1{
        font-size: 26px;
        line-height: 36px;
        margin: 0.5rem 0;
    }

    .header-content p{
        font-size: 12px;
        line-height: 20px;
        margin: 0;
    }

    .header-content {
        margin: 0 1rem;
        padding: 0;
    }
}